
body {
	color:#333;
}

.site-header, .site-footer, .search-form {
	padding:10px;
	background:#efefef;
}

.page {
	width:940px;
	margin:0 auto;
}

.primary {
	width:600px;
	float:left;
}

.post .meta {
	padding:0;
	margin:0;
}

.post .meta li {
	list-style-type:none;
}

.post .meta li label {
	padding-right:10px;
	color:#333;
	font-weight:bold;
}

.post .meta li i {
	width:15px;
	padding-right:5px;
}

.post .meta li span {
	color:#666;
}

.sidebar {
	width:300px;
	float:right;
}

.search-form input[type="text"] {
	width:185px;
}

.site-footer {
	position:relative;
	top:20px;
	clear:both;
}

img {
	width:100%;
}

.wp-post-image 
{
	margin:10px 0;
	border:1px #ccc solid;
}

@media only screen and (min-width:320px) and (max-width:970px) {

.page {
	width:90%;
}

.primary {
	float:none;
	width:100%;
}

.sidebar {
	float:none;
	width:100%;
}

.search-form input[type="text"] {
	width:175px;
}

}
